* {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 13px;
}

/*reset trang web*/
.clear {
    clear: both;
}

body {
    background: #e7ecf4;
}

/* Header */
#header {
    background: #222;
    padding: 10px 0;
    position: relative;
}

#menu-responsive {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#search-box input {
    width: 280px;
    height: 30px;
    border-radius: 5px 0 0 5px;
}

#search-box button {
    width: 80px;
    height: 30px;
    background: #eb1f27;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

#search-box {
    margin-top: 5px;
}

#cart-notify {
    margin-top: 5px;
    text-align: right;
}

#cart-notify a {
    color: #fff;
}

#cart-notify span {
    background: #eb1f27;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    /*đổi thuộc từ thẻ inline sang thẻ block*/
    text-align: center;
    line-height: 30px;
}

/* End Header */
/* Main */
#menu {
    background: #eb1f27;
    overflow: hidden;
}

#menu li {
    float: left;
    list-style: none;
    border-right: 1px solid #c60a11;
    padding: 15px;
}

#menu li:hover {
    background: #c60a11;
}

#menu a {
    color: #fff;
    text-decoration: none;
}

#banner img {
    margin-bottom: 10px;
}

/* End Main */
.product h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.card {
    text-align: center;
    padding: 15px 0 15px 0;
    margin: 5px !important;
}

.product img {
    width: 130px;
    height: 160px;
}

.product img:hover {
    opacity: 0.5;
}

.product a {
    font-size: 13px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.product p {
    font-size: 13px;
    color: #333;

}

.product span {
    color: #eb1f27;
    font-weight: bold;
}

.card:first-child {
    margin-left: 15px !important;
}

.card:last-child {
    margin-right: 15px !important;
}

.card {
    border: 1px solid #999;
}

/* footer */
#footer-top {
    background: #fff;
    /* margin: 30px 0; */
    color: #333;
    padding: 25px 0;
    margin-top: 30px;
}

#footer-top p {
    margin-top: 15px;
    /* border: 1px solid red; */
}

#footer-top h3 {
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    font-size: 18px;
    margin-bottom: 15px;
}

#footer-bot {
    background: #1d1e24;
}

#footer-bot p {
    padding: 10px 0;
    color: #a1b1bc;
}

/* end footer */
@media (max-width:992px) {
    #banner {
        display: none;
    }
}

@media (max-width:768px) {
    #cart-notify {
        text-align: left;
    }

    #menu li {
        float: none;
        border-bottom: 1px solid #c60a11;
        /* last child bonder none */
    }

    #slide {
        display: none;
    }

    .card:first-child {
        margin-left: 5px !important;
    }

    .card:last-child {
        margin-right: 5px !important;
    }
}

@media (min-width:768px) {
    #menu-responsive {
        display: none;
    }

    #menu {
        display: block;
    }
}
